*
{
    margin:0px;
}
.container
{
    display:grid;
   grid-template-columns:12em 12em 12em;
    grid-template-rows: 12em 12em;
    grid-column-gap:26em;
    
}

.a{

    background-image:url("nature2.jpg");    
    background-size:cover;
width:40em;
    height:51.5em;

}

h1
{
    
    color:white;
text-align:center;
font-size:45px;
    margin-top:3em;
    font-family:fantasy;
}
p
{
    color:ghostwhite;
    margin-right:7em;
    margin-left:7em;
    text-align:center;
    margin-top:4em;
    font-family:cursive;
    line-height: 2em;
    
}
span
{
     
  width: 0.7em;
  font-size: 400%;
  font-family: algerian, courier;
  line-height: 80%;
    text-align:center;
}

hr
{
    margin-right:12em;
 
}

.b
{
    
    background-color:lemonchiffon;
    width:38em;
    height:51.4em;
    
}


h2
{
    font-family:fantasy;
    color:darkgrey;
    text-align:center;
    margin-top:2em;
    font-size:300%;
    border:2px solid gray;
    margin-left:2em;
margin-right:2em;    

}


.p1
{
    color:darkgrey;
    margin-right:7em;
    margin-left:7em;
    text-align:center;
    margin-top:4em;
    font-family:cursive;
    line-height: 2em;
    
}



.c
{
    
    background-image:url("nature.jpg");
    background-size:cover;
    width:27.6em;
    height:51.5em;
    
}

h3
{
    color:white;
    text-align:center;
    font-size:300%;
    margin-top:7em;
    border:2px solid white;
    margin-right:5em;
    margin-left:2em;
    width:5em;
    
}

h4
{
    color:white;
    text-align:center;
    margin-top:1em;
    font-family:inherit;
    
}
